## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [2]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [3]:
# Carregando os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combinando-os em um único DataFrame.
preco2000 = pd.read_csv("gasolina_2000+.csv", index_col=0)
preco2010 = pd.read_csv("gasolina_2010+.csv", index_col=0)
precos = pd.concat([preco2000, preco2010])
df = pd.DataFrame(precos)

C:\Users\Fábio\AppData\Local\Temp\ipykernel_23116\1758652027.py:3: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  preco2010 = pd.read_csv("gasolina_2010+.csv", index_col=0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [4]:
# Exibindo as primeiras linhas e informações sobre o DataFrame para entender a estrutura dos dados.
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [5]:
# Vendo os tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [23]:
# Selecionando a terceira entrada da coluna DATA INICIAL e verificando seu tipo.
terceira = type(df["DATA INICIAL"].iloc[2])
terceira

pandas._libs.tslibs.timestamps.Timestamp

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [7]:
# Convertendo as colunas "DATA INICIAL" e "DATA FINAL" para o tipo Datetime.
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])
type(df["DATA FINAL"].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [8]:
# Criando uma nova coluna representando o ano e o mês (aaaa-mm), utilizando a coluna DATA FINAL como referência.
df["ANO/MES"] = df["DATA FINAL"].dt.strftime("%Y-%m")
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO/MES
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
# Listando todos os tipos de produtos contidos na base de dados e contando sua ocorrência.
df["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
# Filtrando o DataFrame para obter apenas dados da 'GASOLINA COMUM' e gravando em uma nova variável.
gas_comum = pd.DataFrame(df[df["PRODUTO"] == "GASOLINA COMUM"])
gas_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO/MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [11]:
# Calculando o preço médio de revenda da gasolina em agosto de 2008. Resolvi usar o módulo datetime para diferenciar a abordagem.
import datetime
gas2008 = gas_comum[(gas_comum['DATA FINAL'] > datetime.datetime(2008, 8, 1)) & (gas_comum['DATA FINAL'] < datetime.datetime(2008, 9, 1))]

pmr = gas2008["PREÇO MÉDIO REVENDA"].mean()

pmr

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
# Calculando o preço médio de revenda da gasolina em maio de 2014 em São Paulo.
gas_comum[(gas_comum["ANO/MES"] == "2014-05") & (gas_comum["ESTADO"] == "SAO PAULO")]["PREÇO MÉDIO REVENDA"].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [13]:
# Identificando o(s) estado(s) onde a gasolina ultrapassou a barreira dos R$ 5,00 e quando isso ocorreu.
gas_comum[gas_comum["PREÇO MÉDIO REVENDA"] > 5][["ESTADO", "ANO/MES", "PREÇO MÉDIO REVENDA"]]

                ESTADO  ANO/MES  PREÇO MÉDIO REVENDA
98201             ACRE  2018-05                5.053
98347             ACRE  2018-06                5.035
98493             ACRE  2018-06                5.038
98511   RIO DE JANEIRO  2018-06                5.016
98646             ACRE  2018-06                5.031
...                ...      ...                  ...
120721         RORAIMA  2021-05                5.364
120722  SANTA CATARINA  2021-05                5.051
120723       SAO PAULO  2021-05                5.265
120724         SERGIPE  2021-05                5.586
120725       TOCANTINS  2021-05                5.751

[353 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [14]:
# Calculando a média de preço dos estados da região sul em 2012.
media_preco_2012_sul = gas_comum[(gas_comum["REGIÃO"] == "SUL") & (gas_comum["ANO/MES"].str.startswith("2012"))]["PREÇO MÉDIO REVENDA"].mean()
media_preco_2012_sul

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [15]:
# Obtendo uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro.
gas_comum['MES'] = gas_comum['DATA FINAL'].dt.month
rio_dados = gas_comum[gas_comum['ESTADO'] == 'RIO DE JANEIRO']
rio_ultimo_mes_ano = rio_dados.groupby(rio_dados['DATA FINAL'].dt.to_period('M'))[['PREÇO MÉDIO REVENDA', 'MES']].last()
rio_ultimo_mes_ano = rio_ultimo_mes_ano[rio_ultimo_mes_ano['MES'] == 12]
rio_pct_anual_corrigido = (rio_ultimo_mes_ano['PREÇO MÉDIO REVENDA'].pct_change() * 100)

rio_pct_anual_corrigido

DATA FINAL
2004-12          NaN
2005-12     9.233449
2006-12     0.917065
2007-12     0.355591
2008-12     0.984252
2009-12     1.637427
2010-12     2.032988
2011-12     7.105263
2012-12     0.982801
2013-12     6.777894
2014-12     4.361979
2015-12    20.461634
2016-12     3.625065
2017-12    13.643178
2018-12     5.804749
2019-12     3.802993
2020-12    -1.321321
Freq: M, Name: PREÇO MÉDIO REVENDA, dtype: float64

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [16]:
# Criando uma tabela contendo uma série temporal com a diferença absoluta e percentual entre os valores mais baratos e caros.
preco_minimo_maximo = gas_comum.groupby('ANO/MES')['PREÇO MÉDIO REVENDA'].agg(['min', 'max']).reset_index()
preco_minimo_maximo

     ANO/MES    min    max
0    2004-05  1.888  2.438
1    2004-06  1.912  2.496
2    2004-07  1.936  2.545
3    2004-08  2.030  2.560
4    2004-09  2.031  2.570
..       ...    ...    ...
199  2021-01  3.830  5.213
200  2021-02  4.121  5.809
201  2021-03  4.579  6.688
202  2021-04  4.777  6.227
203  2021-05  4.867  6.258

[204 rows x 3 columns]

In [17]:
preco_minimo_maximo['Diferença Absoluta'] = preco_minimo_maximo['max'] - preco_minimo_maximo['min']
preco_minimo_maximo

     ANO/MES    min    max  Diferença Absoluta
0    2004-05  1.888  2.438               0.550
1    2004-06  1.912  2.496               0.584
2    2004-07  1.936  2.545               0.609
3    2004-08  2.030  2.560               0.530
4    2004-09  2.031  2.570               0.539
..       ...    ...    ...                 ...
199  2021-01  3.830  5.213               1.383
200  2021-02  4.121  5.809               1.688
201  2021-03  4.579  6.688               2.109
202  2021-04  4.777  6.227               1.450
203  2021-05  4.867  6.258               1.391

[204 rows x 4 columns]

In [18]:
preco_minimo_maximo["Diferença Percentual"] = (preco_minimo_maximo["Diferença Absoluta"] / preco_minimo_maximo["min"]) * 100
preco_minimo_maximo

     ANO/MES    min    max  Diferença Absoluta  Diferença Percentual
0    2004-05  1.888  2.438               0.550             29.131356
1    2004-06  1.912  2.496               0.584             30.543933
2    2004-07  1.936  2.545               0.609             31.456612
3    2004-08  2.030  2.560               0.530             26.108374
4    2004-09  2.031  2.570               0.539             26.538651
..       ...    ...    ...                 ...                   ...
199  2021-01  3.830  5.213               1.383             36.109661
200  2021-02  4.121  5.809               1.688             40.960932
201  2021-03  4.579  6.688               2.109             46.058091
202  2021-04  4.777  6.227               1.450             30.353779
203  2021-05  4.867  6.258               1.391             28.580234

[204 rows x 5 columns]

In [19]:
preco_minimo_maximo["ESTADO MAXIMO"] = gas_comum.loc[gas_comum.groupby('ANO/MES')['PREÇO MÉDIO REVENDA'].idxmax()]['ESTADO'].values
preco_minimo_maximo["ESTADO MINIMO"] = gas_comum.loc[gas_comum.groupby('ANO/MES')['PREÇO MÉDIO REVENDA'].idxmin()]['ESTADO'].values

In [20]:
preco_minimo_maximo

,ANO/MES,min,max,Diferença Absoluta,Diferença Percentual,ESTADO MAXIMO,ESTADO MINIMO
0,2004-05,1.888,2.438,0.550,29.131356,ACRE,SAO PAULO
1,2004-06,1.912,2.496,0.584,30.543933,MATO GROSSO,SAO PAULO
2,2004-07,1.936,2.545,0.609,31.456612,ACRE,DISTRITO FEDERAL
3,2004-08,2.030,2.560,0.530,26.108374,MATO GROSSO,SAO PAULO
4,2004-09,2.031,2.570,0.539,26.538651,ACRE,SAO PAULO
...,...,...,...,...,...,...,...
199,2021-01,3.830,5.213,1.383,36.109661,ACRE,AMAPA
200,2021-02,4.121,5.809,1.688,40.960932,ACRE,AMAPA
201,2021-03,4.579,6.688,2.109,46.058091,ACRE,AMAPA
202,2021-04,4.777,6.227,1.450,30.353779,ACRE,AMAPA
203,2021-05,4.867,6.258,1.391,28.580234,ACRE,AMAPA

In [21]:
preco_minimo_maximo["ESTADO MAXIMO"].value_counts()

ESTADO MAXIMO
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: count, dtype: int64

In [22]:
preco_minimo_maximo["ESTADO MINIMO"].value_counts()

ESTADO MINIMO
SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: count, dtype: int64